.message{
//  background-color: $c-blue;
//  padding-top: 10px;
  min-height: 900px;
  .content{
    background-color: #ffffff;
    width: 1000px;
    margin: auto;
//    border: 1px solid $c-border-gray;
    .nav{
//      padding-bottom: 10px;
//      float: right;
      padding: 45px 10px 0px 0px;
      li{
        float: left;
        margin-left: 30px;
      }
    }
    .msg{
      margin: 20px 30px 0px 30px;
      .msgdate{
        color: $c-border-gray;
      }
    }
  }
}