<%include common/head.ejs%>
<%include common/header.ejs%>

<div class="aboutus">
    <div class="content">
        <h1 class="h1">关于我们</h1>
        <h2 class="h2">我们来自哪里？</h2>
        <p>嘉兴众创信息科技有限公司，由一群土生土长的互联网人创建，团队人员曾在北京、杭州、武汉摸爬滚打，经过浙大、阿里巴巴、蘑菇街、斗鱼、麦包包等互联网公司培养，终于汇聚在一起，我们希望能够创造出最有意思的产品，去试着改变世界一点点！</p>
        <h2 class="h2">我们在做什么？</h2>
        <p>目前我们推出了“生活嘉兴”这个产品，生活嘉兴是嘉兴本地最大的活动发布、报名平台，活动发起人可以免费发布活动，用户可以解决下班去哪儿、周末去哪儿、空闲去哪儿的问题。生活嘉兴上可以发现嘉兴最好玩的地方、最好玩的事件、最好玩的热点。</p>
        <h2 class="h2">我们还要做什么？</h2>
        <p>我们致力于创客运动、欢迎各大创客加入我们相互交流合作。关于改变世界、关于创造、关于重新思考、关于分享。</p>
        <h2 class="h2">怎么联系我们？</h2>
        <p>我们不喜欢坑爹的企业邮箱，需要找我们直接QQ联系，并请说明来意，体谅我们简单粗暴。</p>
        <p>QQ：2488184844</p>
        <p>Email：2488184844@qq.com</p>
    </div>
</div>

<%include common/end.ejs%>