<%include common/head.ejs%>
<%include common/header.ejs%>


<div class="howtouse">
    <div class="content">
        <h1>如何使用发布</h1>
        <div class="step">1，点击新建活动（配图）</div>
        <div class="step">2，填好活动海报，基本信息（配图）</div>
        <div class="step">3，添加详细文本和图片</div>
        <div class="step">4，是否提供报名</div>
        <div class="step">5，发布</div>
    </div>
</div>

<%include common/end.ejs%>