<%include common/head.ejs%>
<%include common/header.ejs%>

<div class="aboutus">
    <div class="content">
        <h1 class="h1">寻求合作</h1>
        <h2 class="h2">技能共享</h2>
        <p>
        <li>如果你有擅长的兴趣爱好，请联系我们，你可能没想过你擅长的技能也是可以赚钱的</li>
        </p>
        <h2 class="h2">活动发布</h2>
        <p>
        <li>如果你需要经常发布线下活动，需要一个全嘉兴人都可以看到的地方，联系我们</li>
        </p>
        <h2 class="h2">健康合作</h2>
        <p>
        <li>如果你是营养师、健康专家，欢迎和我们一起探讨未来的健康，我们不做医药，我们关心如何不去医院</li>
        </p>
        <h2 class="h2">怎么联系我们？</h2>
        <p>我们不喜欢坑爹的企业邮箱，需要找我们直接QQ联系，并请说明来意，体谅我们简单粗暴。</p>
        <p>QQ：2488184844</p>
        <p>Email：2488184844@qq.com</p>
    </div>
</div>


<%include common/end.ejs%>