<%include common/head.ejs%>
<%include common/header.ejs%>

<input type="text" id="activityId" value="<%=data.id%>">

<div class="life-body" ng-app="activity">
    <div class="life-content" ng-controller="activityAdd">
        <div class="activity-add">
            <div class="row">
                <div class="col-xs-12 activity-add-title" ng-show="activityId == null">
                    创造一个新的活动
                </div>
                <div class="col-xs-12 activity-add-title" ng-show="activityId != null">
                    编辑活动
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-2 control-label">活动海报</label>
                    <div class="col-xs-7">
                        <!--活动海报-->
                        <div class="activity-add-img-box" id="addImage">
                            <img ng-src="{{newActivity.cover}}">
                            <div class="add-text">点击上传图片</div>
                        </div>
                    </div>
                    <div class="col-xs-3" id="addImageSmallPanel" style="display: none">
                        <div class="activity-add-img-box-cuted" id="addImageSmall"></div>
                        <button type="button" class="btn btn-success btn-xs" id="editIconSaveBtn">保存</button>
                    </div>

                    <div class="col-xs-4" style="display: none">
                        <form method="post" target="if" enctype="multipart/form-data" action="<%=uploadUrl%>">
                            <input type="file" name="file" id="file"/>
                            <input type="SUBMIT" value="上传" id="fileSubmit"/>
                        </form>
                        <IFRAME id="if" name="if" src="about:blank" frameborder='1'></IFRAME>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">活动标题</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="活动标题" ng-model="newActivity.name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-xs-2 control-label">活动时间</label>
                        <div class="col-xs-3">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.calendarStart"
                                       is-open="vm.openedSatrt" min-date="vm.minDateStart" datepicker-options="vm.dateOptions"
                                       ng-required="true" close-text="关闭" ng-change="calendarStartChange()"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.open($event, 'start')">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                            </p>
                        </div>
                        <!--开始时间-->
                        <div class="col-xs-2">
                            <select class="form-control" ng-model="vm.timeStart"  ng-options="time.minute as time.text for time in vm.timeList"></select>
                        </div>
                        <div class="col-xs-3">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.calendarEnd"
                                       is-open="vm.openedEnd" min-date="vm.minDateEnd" datepicker-options="vm.dateOptions"
                                       ng-required="true" close-text="关闭"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.open($event, 'end')">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                            </p>
                        </div>
                        <!--结束时间-->
                        <div class="col-xs-2">
                            <select class="form-control" ng-model="vm.timeEnd"  ng-options="time.minute as time.text for time in vm.timeList"></select>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">活动地址</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="活动地址" ng-model="newActivity.location" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">活动报名费用</label>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" ng-model="newActivity.fee">
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label">元</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="newActivity.needSignUp"> 是否需要报名
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="newActivity.needSignUp">
                    <label for="inputPassword3" class="col-xs-2 control-label">报名截止日期</label>
                    <div class="col-xs-3">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.calendarStop"
                                   is-open="vm.openedStop" min-date="vm.minDateStop" datepicker-options="vm.dateOptions"
                                   close-text="关闭"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="vm.open($event, 'stop')">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                        </p>
                    </div>
                    <!--开始时间-->
                    <div class="col-xs-2">
                        <select class="form-control" ng-model="vm.timeStop"  ng-options="time.minute as time.text for time in vm.timeList"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-primary" ng-click="nextClick()">下一步</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var scope = null;
    var x1,y1,x2,y2 = null;
    var isUpload = false;

    //图片上传回调函数
    function upLoadCallback(res){
        if(isUpload == false)
            return;
        console.log('uploadfile', res)
        //图片上传成功
        if(res.success == true){
            scope.newActivity.cover = res.data;

            $('#addImage').empty()
                    .addClass('activity-add-img-box-big')
                    .append('<img id="imageSel" src="' + scope.newActivity.cover + '">');
            //添加截图
            $('#addImageSmallPanel').show()
            $('#addImageSmall').append('<img id="imageSelSmall" src="' + scope.newActivity.cover + '">');

            var $smallIcon = $('img#imageSelSmall');
            var $bigIcon = $('img#imageSel');
            var scale = null;
            $('img#imageSel').imgAreaSelect({
                aspectRatio: '1:1',
                x1: 0, y1: 0, x2: 100, y2: 100,
                handles: true,
                persistent : true,
                instance: true,
                onInit : function(img, selection){
                    var w = 180 / selection.width * $bigIcon.width();
                    var h = 180 / selection.width * $bigIcon.height();
                    console.log($smallIcon.width());
                    scale = $smallIcon.width() / $('#addImage').width();
                    $smallIcon.css({
                        width : w,
                        height : h,
                        'margin-left' : -selection.x1 * 180 / selection.width,
                        'margin-top' : -selection.y1 * 180 / selection.height
                    });
                    x1 = parseInt(selection.x1 * scale);
                    y1 = parseInt(selection.y1 * scale);
                    x2 = parseInt(selection.x2 * scale);
                    y2 = parseInt(selection.y2 * scale);
                },
                onSelectChange : function(img, selection){
                    var w = 180 / selection.width * $bigIcon.width();
                    var h = 180 / selection.width * $bigIcon.height();
                    console.log($smallIcon.width());
                    $smallIcon.css({
                        width : w,
                        height : h,
                        'margin-left' : -selection.x1 * 180 / selection.width,
                        'margin-top' : -selection.y1 * 180 / selection.height
                    });
                    x1 = parseInt(selection.x1 * scale);
                    y1 = parseInt(selection.y1 * scale);
                    x2 = parseInt(selection.x2 * scale);
                    y2 = parseInt(selection.y2 * scale);
                }
            });
        }
        //图片上传失败
        else{
            $('#addImage').empty().append('<div class="text-box">图片上传失败，请重试。errorCode:'+ res.errorCode +'</div>');
        }
    }
    //点击添加图片
    $('#addImage').on('click', function(){
        $('input#file').click();
    });

    //修改上传图片路径时事件
    $('input#file').on('change', function(){
        console.log('change');
        $('#addImage').empty().append('<div class="text-box">' + $('input#file').val() + '<button type="button" class="btn btn-default btn-xs" id="doUploading">点击上传</button></div>');
        //点击上传图片
        $('button#doUploading').on('click', function(e){
            console.log('end');
            isUpload = true;
            $('input#fileSubmit').click();
            e = e || window.event;
            if (e.stopPropagation) {
                e.stopPropagation();//IE以外
            } else {
                e.cancelBubble = true;//IE
            }
        });
    });

    //截图保存
    $('button#editIconSaveBtn').on('click', function(){
        console.info(x1, y1, x2, y2);
        Req.User.ImageCut({
            sourceImagePath : scope.newActivity.cover,
            x1 : x1,
            y1 : y1,
            x2 : x2,
            y2 : y2
        }).done(function(res){
            if(res.success == true){
                scope.newActivity.cover = res.data;
                $('img#imageSel').imgAreaSelect({remove : true});
                $('#addImageSmallPanel').hide();
                $('#addImage').empty().removeClass('activity-add-img-box-big').append('<img id="imageSel" src="' + scope.newActivity.cover + '">');
            }
        })
    });



    var app = angular.module('activity', ['ui.bootstrap']).controller('activityAdd',function($scope){
        scope = $scope;
        $scope.activityId = null;
        var str = $('input#activityId').val();
        if(str != ''){
            $scope.activityId = parseInt(str);
        }
        console.log('编辑id：' + $scope.activityId);

        var vm = $scope.vm = {};
        //新建活动数据
        $scope.newActivity = {
            "name": "",
            "startTime": 0,
            "endTime": 0,
            "location": "",                     //活动地点
            "fee": 0,                           //活动金额
            "cover": "/images/cover-hd.png",     //封面图URL地址
            "needSignUp": false,                //是否需要报名
            "contact": "",                      //联系电话
            "registerTime" : 0                  //活动报名截止时间
        };

        //开始日期发生改变的时间
        $scope.calendarStartChange = function(){
            if(vm.calendarStart > vm.calendarEnd){
                vm.calendarEnd = vm.calendarStart;
                vm.minDateEnd = vm.calendarStart;
            }
        };

        //自定义选项
        vm.dateOptions = {
            formatYear: 'yy',
            startingDay: 1,
            formatDayTitle: 'yyyy MMMM'
        };
        vm.format = 'yyyy/MM/dd';

        vm.calendarStart = new Date();
        vm.calendarEnd = new Date();
        vm.minDateStart = new Date();
        vm.minDateEnd = new Date();
        vm.maxDateStart = new Date();
        vm.openedSatrt = false;
        vm.openedEnd = false;

        vm.calendarStop = new Date();
        vm.minDateStop = new Date();
        vm.openedStop = false;
        vm.timeStop = 0;

        //弹出式日历触发函数
        vm.open = function($event, type) {
            $event.preventDefault();
            $event.stopPropagation();
            if(type == 'start')
                vm.openedSatrt = true;
            else if(type == 'end')
                vm.openedEnd = true;
            else if(type == 'stop')
                vm.openedStop = true;
        };

        //时间选择
        vm.timeList = [];
        vm.timeStart = 0;
        vm.timeEnd = 0;
        var minEach = ['00', '30'];
        function initTimeSelect(){
            for(var i = 0; i<24 ; i++){
                for(var k in minEach){
                    var s = '';
                    if(i < 10)
                        s += '0';
                    s = s + i.toString() + ':' + minEach[k];
                    vm.timeList.push({
                        text : s,
                        minute : i * 60 + k*30
                    });
                }
            }
        }
        initTimeSelect();

        //获取活动详情
        if($scope.activityId != null){
            Req.User.GetActivitiesById($scope.activityId).done(function(res){
                if(res.success == true){
                    $scope.activity = res.data;
                    angular.extend($scope.newActivity, $scope.activity);

                    var t1 = new Date($scope.newActivity.startTime);
                    vm.calendarStart = new Date(t1.getFullYear(), t1.getMonth(), t1.getDate());
                    vm.timeStart = (t1 - vm.calendarStart) / 1000 / 60;

                    var t2 = new Date($scope.newActivity.endTime);
                    vm.calendarEnd = new Date(t2.getFullYear(), t2.getMonth(), t2.getDate());
                    vm.timeEnd = (t2 - vm.calendarEnd) / 1000 / 60;

                    var end = new Date($scope.newActivity.registerTime);
                    vm.calendarStop = new Date(end.getFullYear(), end.getMonth(), end.getDate());
                    vm.timeStop = (end - vm.calendarStop) / 1000 / 60;

                    angular.extend($scope.newActivity, res.data);
                    $scope.$apply();
                }
            });
        }

        //下一步 创建活动内容
        $scope.nextClick = function(){
            //创建活动
            var d1 = new Date(vm.calendarStart.getFullYear(), vm.calendarStart.getMonth(), vm.calendarStart.getDate()).getTime();
            var d2 = new Date(vm.calendarEnd.getFullYear(), vm.calendarEnd.getMonth(), vm.calendarEnd.getDate()).getTime();

            $scope.newActivity.startTime = d1 + vm.timeStart * 60 * 1000;
            $scope.newActivity.endTime = d2 + vm.timeEnd * 60 * 1000;

            var stop = new Date(vm.calendarStop.getFullYear(), vm.calendarStop.getMonth(), vm.calendarStop.getDate()).getTime();
            $scope.newActivity.registerTime = stop + vm.timeStop * 60 * 1000;

            console.log($scope.newActivity);

            //界面验证
            if($scope.newActivity.name == ''){
                alert("活动标题不能为空。");
                return;
            }
            else if($scope.newActivity.startTime >= $scope.newActivity.endTime){
                alert("活动时间设置不符合规则。");
                return;
            }
            else if($scope.newActivity.location == ''){
                alert("活动地址不能为空。");
                return;
            }
            else if($scope.newActivity.needSignUp == true){
                if($scope.newActivity.registerTime > $scope.newActivity.startTime){
                    alert("活动报名截止时间设置不符合规则。");
                    return;
                }
            }



            function createCallBack(res){
                console.log(res);
                if(res.success == true){
                    var activityId = res.data;
                    if($scope.activityId != null)
                        activityId = $scope.activityId;
                    window.location.href = '/activity/add/b/' + activityId;
                }
                //活动创建出错
                else{
//                    console.log(errorCode[res.errorCode]);
                }
            }
            //活动创建或者修改
            if($scope.activityId != null)
                Req.Activity.Modify($scope.newActivity).done(function(res){
                    createCallBack(res);
                });
            else
                Req.Activity.Create($scope.newActivity).done(function(res){
                    createCallBack(res);
                });
        };

    })
</script>



<%include common/footer.ejs%>
<%include common/end.ejs%>