<%include common/head.ejs%>
<%include common/header.ejs%>

<div class="life-body">
    <div class="life-content user-forget">
        <form id="status">
            <input type="hidden" value="<%=emailCheckId%>" name="emailCheckId">
            <input type="hidden" value="<%=checkCode%>" name="checkCode">
        </form>
        <span class="error-info" id="checkFaild">
        </span>

        <form class="form-horizontal" id="changePassword">

            <div class="form-group">
                <label for="password1" class="col-xs-2 control-label">新密码：</label>
                <div class="col-xs-5">
                    <input type="password" class="form-control" id="password1" placeholder="" name="password1">
                </div>
            </div>
            <div class="form-group">
                <label for="password2" class="col-xs-2 control-label">再次输入密码：</label>
                <div class="col-xs-5">
                    <input type="password" class="form-control" id="password2" placeholder="" name="password2">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-1">
                    <button type="button" class="btn btn-primary" onclick="save()">保存</button>
                </div>
                <div class="col-xs-4">
                    <label class="control-label"><span class="error-info" id="passWordFailed"></span></label>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var s = Life.FormToJson($("form#status"));
    console.log(s);
    //验证是否可以修改密码
    Req.User.ModifyChangePasswordStatus(s)
            .done(function(res){
                if(res.success == false){
                    $('span#checkFaild').html('邮箱验证失败，请重新申请验证邮件。')
                    $('form#changePassword').empty();
                }
            })

    function save(){

        var $error = $("span#passWordFailed");
        var data = Life.FormToJson($('form#changePassword'));

        $error.empty();
        console.log(data);
        if(data.password1 != data.password2){
            $error.append('两次密码不一致。');
            return;
        }
        if(data.password1.length < 6){
            $error.append('密码过于简单。');
            return;
        }

        var password = Life.Md5Encrypt(data.password1);

        Req.User.ForgetChangePassword( {newPassword : password} )
                .done(function(res){
                    if(res.success == true){
                        $error.append('密码修改成功。');
                    }
                })
    }

</script>

<%include common/end.ejs%>