<%include common/head.ejs%>
<%include common/header.ejs%>

<input type="hidden" id="showType" value="<%=data.type%>">

<div class="life-body" ng-app="userActivity">
    <div class="life-content">
        <div class="life-content-left user-left">
            <div ng-controller="userActivityCtrl">
                <div class="user-activities-sort">
                    <a href="/users/activities/draft"><div class="user-activities-sort-button <%if(data.type == 3){%>selected<%}%> ">草稿箱</div></a>
                    <a href="/users/activities/auditing"><div class="user-activities-sort-button <%if(data.type == 2){%>selected<%}%> ">审核中</div></a>
                    <a href="/users/activities/published"><div class="user-activities-sort-button <%if(data.type == 1){%>selected<%}%> ">成功发起</div></a>
                    <a href="/users/activities/publishfailed"><div class="user-activities-sort-button <%if(data.type == 0){%>selected<%}%> ">审核不通过</div></a>
                    <a href="/users/activities/joinin"><div class="user-activities-sort-button <%if(data.type == 4){%>selected<%}%> ">我参与的</div></a>
                    <a href="/users/activities/collection"><div class="user-activities-sort-button <%if(data.type == 5){%>selected<%}%> ">收藏夹</div></a>
                    <div class="clear-fix"></div>
                </div>

                <div class="user-activities-list">
                    <div class="activity-each" ng-repeat="act in activityList">
                        <div class="activity-each-img">
                            <img ng-src="/{{act.cover}}">
                        </div>
                        <div class="activity-each-content">
                            <div class="activity-each-content-title">
                                <h3>{{act.name}}</h3>
                            </div>
                            <div class="activity-each-content-line">
                                时间：{{act.startTime|date :'yyyy.MM.dd HH:mm'}} ~ {{act.endTime|date :'yyyy.MM.dd HH:mm'}}
                            </div>
                            <div class="activity-each-content-line">
                                地点：{{act.location}}
                            </div>
                            <div class="activity-each-content-line">
                                费用：{{act.fee}}
                            </div>
                            <div class="activity-each-content-line">
                                状态：报名中
                            </div>
                        </div>
                        <div class="activity-each-edit">
                            <a href="/activity/add/a/{{act.activityId}}">
                                <div class="activity-each-edit-button" style="margin-bottom: 2px" ng-click="lifeService.activityEdit(act)"
                                     ng-show="showType == 3">
                                    活动编辑
                                </div>
                            </a>
                            <a href="/users/activity/sign/{{act.activityId}}">
                                <div class="activity-each-edit-button" ng-show="showType == 1">报名管理</div>
                            </a>
                            <div class="activity-each-edit-button" ng-show="showType == 4" ng-click="cancelMemberClick(act.activityId)">取消报名</div>
                            <div class="activity-each-edit-button" ng-show="showType == 5" ng-click="cancelAttentionClick(act.activityId)">取消收藏</div>
                        </div>
                    </div>

                    <pagination boundary-links="false" ng-change="pageChanged()" total-items="totalItems"
                                items-per-page="pageSize" max-size="maxSize" rotate="true"
                                ng-model="pageNumber" class="pagination-sm" previous-text="上一页"
                                next-text="下一页" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>

        </div>
        <div class="clear-fix"></div>
    </div>
</div>

<script>
    var app = angular.module('userActivity', ['ui.bootstrap']).controller('userActivityCtrl', function($scope){

        //0审核不通过  1审核通过  2待审核  3草稿箱  4参与的  5收藏

        var type = parseInt($('input#showType').val());
        $scope.showType = type;         //默认显示草稿箱

        $scope.pageNumber = 1;
        $scope.pageSize = 15;
        $scope.totalItems = 0;
        $scope.maxSize = 5;
        $scope.activityList = [];

        function getData(number){
            $scope.pageNumber = number;
            var reqData = {
                "pageNumber": $scope.pageNumber,
                "pageSize": $scope.pageSize,
                "orderType": "desc"
            };
            if($scope.showType < 4){
                reqData.condition = {
                    status : $scope.showType
                };
                Req.User.GetMyActivities(reqData).done(function(res){
                    if(res.success == true){
                        $scope.pageNumber = res['data']['pageNumber'];
                        $scope.activityList = res['data']['list'];
                        $scope.totalItems = res['data']['totalCount'];
                        $scope.$apply();
                    }
                });;
            }
            else if($scope.showType == 4){
                Req.User.GetActJoined(reqData).done(function(res){
                    if(res.success == true){
                        $scope.pageNumber = res['data']['pageNumber'];
                        $scope.activityList = res['data']['list'];
                        $scope.totalItems = res['data']['totalCount'];
                        $scope.$apply();
                    }
                });;
            }
            else if($scope.showType == 5){
                Req.User.GetActAttention(reqData).done(function(res){
                    if(res.success == true){
                        $scope.pageNumber = res['data']['pageNumber'];
                        $scope.activityList = res['data']['list'];
                        $scope.totalItems = res['data']['totalCount'];
                        $scope.$apply();
                    }
                });;
            }
        }
        getData(1);

        //页面跳转
        $scope.pageChanged = function(){
            getData( $scope.pageNumber );
        };
        //取消报名
        $scope.cancelMemberClick = function(id){
            if(confirm('确认要取消报名吗？')){
                Req.User.CancelMember(id).done(function(res){
                    if(res.success == true){
                        //alert('取消报名成功');
                        getData( $scope.pageNumber );
                    }
                    else{
                        alert('取消报名失败，请重试');
                    }
                });
            }
        };
        //取消报名
        $scope.cancelAttentionClick = function(id){
            if(confirm('确认取消收藏吗？')){
                Req.Activity.Attention(id).done(function(res){
                    if(res.success == true){
                        //alert('取消报名成功');
                        getData( $scope.pageNumber );
                    }
                    else{
                        alert('取消报名失败，请重试');
                    }
                });
            }
        };
    })
</script>



<%include common/footer.ejs%>
<%include common/end.ejs%>


