<%include common/head.ejs%>
<%include common/header.ejs%>

<div class="life-body" ng-app="userMessage">
    <div class="life-content" ng-controller="userMessageCtrl">
        <div class="user-message">
            <div class="user-message-nav">
                <div class="user-message-nav-item sel">所有消息</div>
                <!--<div class="user-message-nav-item">未读{{}}</div>-->
                <!--<div class="user-message-nav-item">已读{{}}</div>-->
            </div>
            <div class="user-message-msg"  ng-repeat="m in messageList">
                <div class="msgbody" ng-bind-html="m.content"></div>
                <div class="msgdate">{{m.dateCreated | date :'yyyy.MM.dd HH:mm'}}</div>
                <hr />
            </div>
        </div>

        <pagination boundary-links="false" ng-change="pageChanged()" total-items="totalItems"
                    items-per-page="pageSize" max-size="maxSize" rotate="true"
                    ng-model="pageNumber" class="pagination-sm" previous-text="上一页"
                    next-text="下一页" first-text="&laquo;" last-text="&raquo;">
        </pagination>
    </div>
</div>

<script>
    var app = angular.module('userMessage', ['ui.bootstrap', 'ngSanitize']).controller('userMessageCtrl', function($scope, $sce){

        $scope.pageNumber = 1;
        $scope.pageSize = 15;
        $scope.totalItems = 0;
        $scope.maxSize = 5;
        $scope.messageList = [];

        function getData( number ){
            $scope.pageNumber = number;
            Req.User.GetMessage({
                        "pageNumber": $scope.pageNumber,
                        "pageSize": $scope.pageSize
                    }
            ).done(function(res){
                        $scope.pageNumber = res['data']['pageNumber'];
                        $scope.totalItems = res['data']['totalCount'];
                        $scope.messageList = res['data']['list'];
                        for(var i in $scope.messageList){
                            console.log($scope.messageList[i]['content']);
                            $sce.trustAsHtml($scope.messageList[i]['content']);
                        }
                        $scope.$apply();
                    });
        }
        //页面跳转
        $scope.pageChanged = function(){
            getData( $scope.pageNumber );
        };
        getData(1);

    })
</script>

<%include common/end.ejs%>