<%include common/head.ejs%>
<%include common/header.ejs%>

<div class="life-body" ng-app="login">
    <div class="life-content" ng-controller="loginCtrl">
        <div class="login">
            <div class="login-left">
                <form name="dl" id="form-login">
                    <div class="form-group">
                        <input class="form-control" placeholder="邮箱" ng-model="user.loginName" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="密码" ng-model="user.password" type="password" required>
                    </div>
                    <div class="form-group" ng-show="isShowCheckCode">
                        <div class="row">
                            <div class="col-xs-4">
                                <input class="form-control input-sm" type="text" placeholder="验证码" ng-model="user.checkCode">
                            </div>
                            <div class="col-xs-2 login-left-check-code"></div>
                            <div class="col-xs-4">
                                <button type="button" class="btn btn-link" ng-click="refreshCheckCode()">换一张</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-3">
                                <button type="submit" class="btn btn-primary" ng-click="loginClick()" ng-disabled="!dl.$valid">登陆</button>
                            </div>
                            <div class="col-xs-9 login-error">
                                <span>{{show.errorText}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<a href="wechat.html" target="_blank"><button type="button" class="btn btn-primary btn-block btn-success">微信登陆</button></a>-->
                        <a ng-href="{{wechatPath}}" target="_blank">
                            <button type="button" class="btn btn-primary btn-block btn-success">微信登陆</button>
                        </a>
                    </div>
                </form>
                <div class="login-left-bottom-info">
                    <a href="/users/signup">注册</a>
                    <a href="/users/login">登陆</a>
                    <a>忘记密码？</a>
                </div>
            </div>
            <div class="login-public-no">
                <img src="/images/public_number.jpg" alt="微信公众账号"/>
                <span>关注公众号</span>
            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('login', []).controller('loginCtrl',function($scope){

        var onSuccessLoginCallback = null;
        var loginDialog = null;
        $scope.isShowCheckCode = false;

        var errorCode = Life.ErrorCode;

        //用于界面显示
        $scope.show = {
            loginType : 0,              // 0登陆,1注册，2注册成功，显示文本
            errorText : '',             //登陆错误显示文本
            isShowCheckCode : false     //是否显示验证码框
        };

        $scope.user = {
            loginName : '',
            password : '',
            password2 : '',
            checkCode : ''
        };
        //获取微信登陆地址
        Req.User.GetWechatPath().done(function(res){
            $scope.wechatPath = res.data;
        });
        //MD5加密
        function md5(data){
            var d = angular.copy(data);
            d.password = Life.Md5Encrypt(d.password);
            delete d.password2;
            return d;
        }
        function addCheckCode(){
            $scope.isShowCheckCode = true;
            var $checkCodeBox =$(".login-left-check-code");
            $checkCodeBox.find('img').remove();
            var i = Math.random();
            $checkCodeBox.append('<img src="' + Req.getCheckCode +'?'+ i+'">');
        }
        $scope.refreshCheckCode = function(){
            addCheckCode();
        };

        $scope.loginClick = function(){
            $scope.show.errorText ='';
            var userData = md5($scope.user);
            function dol(){
                Req.User.Login(userData).done(function(res){
                    //登陆成功
                    if(res.success == true){
                        window.location.href="/";
                    }
                    //登陆失败
                    else{
                        addCheckCode();
                        $scope.show.errorText = errorCode[res.errorCode];
                    }
                    $scope.$apply();
                });
            }
            //登陆
            //验证码为空 提示填写验证码
            if($scope.show.isShowCheckCode == true && $scope.user.checkCode == ''){
                $scope.show.errorText = errorCode['103'];
                return;
            }
            //验证码不为空 则尝试登陆
            if($scope.show.isShowCheckCode == true && $scope.user.checkCode != ''){
                dol();
                return;
            }
            //无验证码框的情况下
            if($scope.show.isShowCheckCode == false){
                //判断是否 无需要验证框
                Req.User.HasCheckCode($scope.user.loginName).done(function(res){
                    if(res.success == true){
                        dol();
                    }
                    else{
                        $scope.show.isShowCheckCode = true;
                    }
                });
            }
        };
    })
</script>


<%include common/end.ejs%>