<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="keywords" content="生活嘉兴,嘉兴生活,活动发布平台,周末去哪儿,下班去哪儿">
    <meta name="description" content="生活嘉兴是嘉兴本地最大的活动发布、报名平台，活动发起人可以免费发布活动，用户可以解决下班去哪儿、周末去哪儿、空闲去哪儿的问题。生活嘉兴上可以发现嘉兴最好玩的地方、最好玩的事件、最好玩的热点。">
    <link rel='stylesheet' href='/bootstrap-3.3.2/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/life.css">
    <link rel="stylesheet" href="/stylesheets/imgareaselect-default.css">

    <script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/lib/jQuery.md5.js"></script>
    <script src="/javascripts/lib/ejs_production.js"></script>
    <script src="/javascripts/lib/jquery.imgareaselect.pack.js"></script>

    <script src="/javascripts/lib/angular.min.js"></script>
    <script src="/javascripts/lib/angular-sanitize.min.js"></script>
    <script src="/javascripts/lib/ui-bootstrap-tpls-0.13.3.min.js"></script>

    <script src="/javascripts/life.js"></script>
    <script src="/javascripts/modelproxy.js"></script>
    <script src="/javascripts/dialog.js"></script>

    <!--<link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/stylesheets/life.css">-->
    <!--<link rel="stylesheet" href="/stylesheets/imgareaselect-default.css">-->

    <!--<script src="//cdn.bootcss.com/angular-ui-bootstrap/0.13.2/ui-bootstrap-tpls.min.js"></script>-->

</head>
<body>