<div class="header">
    <div class="header-content">
        <div class="header-logo">
            <a href="/"><img src="/images/logo.png" alt="生活嘉兴"/></a>
        </div>
        <div class="header-items">
            <a href="/">
                <div class="header-items-each">首页</div>
            </a>
            <a href="/activity/discover">
                <div class="header-items-each">发现活动</div>
            </a>
            <a href="/about/aboutus">
                <div class="header-items-each about-us">关于我们</div>
            </a>
        </div>
        <div class="header-btns">
            <a href="/activity/add/a"><button type="button" class="btn btn-default btn-sm">发起活动</button></a>
        </div>
        <!--<div ng-show="isShow">-->
        <%if(login.isLogin == true){%>
        <div class="header-login" ng-show="isShow && isLogin">
            <div class="header-login-icon">
                <%if(login.icon != null && login.icon != ''){%>
                    <img src="<%=login.icon%>" alt=""/>
                <%}else{%>
                    <img src="/images/touxiang.png" alt=""/>
                <%}%>
            </div>
            <div class="header-login-menu">
                <a href="/users/activities/draft"><div class="header-menu-item">我的活动</div></a>
                <a href="/users/info/show"><div class="header-menu-item">个人资料</div></a>
                <div class="header-menu-item" id="loginOutbtn">退出登录</div>
            </div>
        </div>
        <div class="header-message">
            <a href="/users/message">
                <div class="header-message-icon">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
            </a>
        </div>
        <%}%>
        <%if(login.isLogin == false){%>
        <div class="header-login-btns" ng-show="isShow && !isLogin">
            <a href="/users/login"><button type="button" class="btn btn-default btn-sm">登陆</button></a>
            <a href="/users/signup"><button type="button" class="btn btn-default btn-sm">注册</button></a>
        </div>
        <%}%>
        <div class="clear-fix"></div>
    </div>
    <script>
        $('#loginOutbtn').click(function(){
            Req.User.Logout().done(function(){
                window.location = '/';
            })
        })
    </script>
</div>