<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <META NAME="keywords" CONTENT="生活嘉兴">
    <META NAME="description" CONTENT=“生活嘉兴倡导一种健康、快乐的生活方式，鼓励城市生活人群多参加户外活动、经常健身、有良好的饮食习惯、更加环保。">
    <link rel='stylesheet' href='/bootstrap-3.3.2/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/life.css">

    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/jQuery.md5.js"></script>
    <script src="/javascripts/ejs_production.js"></script>
    <script src="/javascripts/ajaxfileupload.js"></script>
    <script src="/javascripts/life.js"></script>
    <script src="/javascripts/modelproxy.js"></script>

    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="/javascripts/dialog.js"></script>
</head>
<body>