<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap-3.3.2/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/life.css">

    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/jQuery.md5.js"></script>
    <script src="/javascripts/life.js"></script>

    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/modelproxy.js"></script>
</head>
<body>